In [63]:
import gmaps
import pandas as pd
import os
import requests
# Google developer API key
gkey = os.environ.get("GOOGLE_API_KEY")

# Configure gmaps
gmaps.configure(api_key=gkey)
df = pd.read_csv('../output_data/weather.csv')

df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Aabenraa,55.04,9.42,50.00,75,20,12.75,DK,1602666706
1,Abbeville,50.10,1.83,51.01,82,54,13.51,FR,1602666602
2,Aberystwyth,52.42,-4.08,50.00,99,8,1.99,GB,1602666689
3,Abu Dhabi,24.47,54.37,95.00,15,0,9.17,AE,1602666671
4,Abu Samrah,35.30,37.18,80.08,38,0,7.61,SY,1602666551
...,...,...,...,...,...,...,...,...,...
544,Zirándaro de los Chávez,18.45,-100.98,75.24,84,60,1.77,MX,1602666648
545,Zyryanovsk,49.74,84.27,49.80,50,1,1.88,KZ,1602666578
546,Ōmachi,36.50,137.87,62.01,79,48,4.00,JP,1602666513
547,Şahbuz,39.41,45.57,69.80,37,0,4.70,AZ,1602666667
548,‘Āhuimanu,21.44,-157.84,78.80,65,20,7.76,US,1602666680

In [64]:
df = df.dropna()
df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Aabenraa,55.04,9.42,50.00,75,20,12.75,DK,1602666706
1,Abbeville,50.10,1.83,51.01,82,54,13.51,FR,1602666602
2,Aberystwyth,52.42,-4.08,50.00,99,8,1.99,GB,1602666689
3,Abu Dhabi,24.47,54.37,95.00,15,0,9.17,AE,1602666671
4,Abu Samrah,35.30,37.18,80.08,38,0,7.61,SY,1602666551
...,...,...,...,...,...,...,...,...,...
544,Zirándaro de los Chávez,18.45,-100.98,75.24,84,60,1.77,MX,1602666648
545,Zyryanovsk,49.74,84.27,49.80,50,1,1.88,KZ,1602666578
546,Ōmachi,36.50,137.87,62.01,79,48,4.00,JP,1602666513
547,Şahbuz,39.41,45.57,69.80,37,0,4.70,AZ,1602666667
548,‘Āhuimanu,21.44,-157.84,78.80,65,20,7.76,US,1602666680

In [65]:
locations = df[["Lat", "Lng"]]

# Fill NaN values and convert to float
humidty = df["Cloudiness"]
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidty, 
                                 dissipating=False, max_intensity=100,
                                 point_radius=4)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [66]:
perfect_weather = df.copy()

In [67]:
perfect_weather.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 546 entries, 0 to 548
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City        546 non-null    object
 1   Lat         546 non-null    float64
 2   Lng         546 non-null    float64
 3   Max Temp    546 non-null    float64
 4   Humidity    546 non-null    int64
 5   Cloudiness  546 non-null    int64
 6   Wind Speed  546 non-null    float64
 7   Country     546 non-null    object
 8   Date        546 non-null    int64
dtypes: float64(4), int64(3), object(2)
memory usage: 42.7+ KB

In [68]:
#80 max Faherneit is 27 Celcius and 70 is 21 Celcius
perfect_weather = perfect_weather.loc[(perfect_weather['Max Temp']>=70) \
                    & (perfect_weather['Max Temp'] <80) \
                    & (perfect_weather['Cloudiness'] == 0)]

In [69]:
perfect_weather.reset_index(drop=True,inplace=True)

In [70]:
perfect_weather

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Aguada de Pasajeros,22.39,-80.85,73.40,93,0,4.81,CU,1602666562
1,Artyom,40.47,50.33,71.60,60,0,16.11,AZ,1602666600
2,Baharly,38.44,57.43,75.45,17,0,12.84,TM,1602666555
3,Benghazi,32.12,20.07,74.41,49,0,4.00,LY,1602666558
4,Burgersdorp,-31.00,26.33,71.02,18,0,0.98,ZA,1602666710
5,Bāfq,31.61,55.41,74.95,14,0,5.99,IR,1602666563
6,Cape Town,-33.93,18.42,71.01,42,0,5.82,ZA,1602666411
7,Carnarvon,-24.87,113.63,77.00,61,0,17.22,AU,1602666627
8,Darnah,32.77,22.64,75.36,50,0,5.39,LY,1602666633
9,Faya,18.39,42.45,77.00,17,0,5.82,SA,1602666597
10,Inongo,-1.95,18.27,79.83,70,0,2.68,CD,1602666610
11,Jericho,31.87,35.45,75.99,63,0,2.04,PS,1602666634
12,Kruisfontein,-34.00,24.73,71.01,47,0,4.00,ZA,1602666638
13,Morros,-9.45,-46.30,73.00,42,0,3.94,BR,1602666690
14,Port Lincoln,-34.73,135.87,70.02,49,0,4.65,AU,1602666651
15,Quthing,-30.40,27.70,72.59,18,0,7.34,LS,1602666683
16,Saldanha,-33.01,17.94,78.80,50,0,5.82,ZA,1602666691
17,Sirte,31.21,16.59,75.06,45,0,4.94,LY,1602666650
18,Tautira,-17.73,-149.15,78.80,69,0,8.05,PF,1602666700
19,Vao,-22.67,167.48,73.99,85,0,4.23,NC,1602666628

'0     22.39\n1     40.47\n2     38.44\n3     32.12\n4    -31.00\n5     31.61\n6    -33.93\n7    -24.87\n8     32.77\n9     18.39\n10    -1.95\n11    31.87\n12   -34.00\n13    -9.45\n14   -34.73\n15   -30.40\n16   -33.01\n17    31.21\n18   -17.73\n19   -22.67\nName: Lat, dtype: float64,0     -80.85\n1      50.33\n2      57.43\n3      20.07\n4      26.33\n5      55.41\n6      18.42\n7     113.63\n8      22.64\n9      42.45\n10     18.27\n11     35.45\n12     24.73\n13    -46.30\n14    135.87\n15     27.70\n16     17.94\n17     16.59\n18   -149.15\n19    167.48\nName: Lng, dtype: float64'

In [98]:
url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
target_search = "hotel"
radius = 5000
for index,rows in perfect_weather.iterrows():

    params = {
        "location": f"{str(perfect_weather.loc[index,'Lat'])},{str(perfect_weather.loc[index,'Lng'])}",  # philadelphia coords,
        "keyword": target_search,
        "radius": radius,
        "key": gkey,
    }
    hotels = requests.get(url, params).json()
    try:
        print(index,hotels["results"][0]["name"],hotels["results"][0]["vicinity"])
        
    except:
        print("Not found")

Not found
1 F marine resort Остров Пираллахи
Not found
3 فندق نزل الراحة Unnamed Road
4 The Kingsman boutique hotel 10 Piet Retief St, Burgersdorp
5 Alamdar Hotel بافق، بافق، استان یزد،بلوار، انقلاب،
6 The Bay Hotel 69 Victoria Rd, Camps Bay, Cape Town
7 Hospitality Carnarvon 6 West St, South Carnarvon
8 فندق النعيم المغار، درنة،
Not found
10 Hotel Du Lac Inongo
11 Dolphin Suites Japan Street Jericho
Not found
Not found
14 Port Lincoln Hotel 1 Lincoln Hwy, Port Lincoln
15 Mountainside Hotel Quthing
16 Protea Hotel by Marriott Saldanha Bay 51 Main Rd, Saldanha
17 Salam Hotel Sirte
Not found
19 OURE TERA beach resort Kuto

In [60]:
figure_layout = {
    'width': '800px',
    'height': '500px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
fig = gmaps.figure(layout=figure_layout)
# Assign the marker layer to a variable
markers = gmaps.marker_layer(cordinates)
# Add the layer to the map
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(border='1px solid black', height='500px', margin='0 auto 0 auto', padding='1px', wi…