In [6]:
import gmaps
import pandas as pd
import os
# Google developer API key
gkey = os.environ.get("GOOGLE_API_KEY")

# Configure gmaps
gmaps.configure(api_key=gkey)
df = pd.read_csv('../output_data/weather.csv')
del df['Unnamed: 0']
df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Acapulco de Juárez,16.86,-99.89,30.00,70,75,1.00,MX,1602443949
1,Acaraú,-2.89,-40.12,28.80,63,0,7.83,BR,1602443525
2,Adrar,20.50,-10.07,35.54,15,14,1.91,MR,1602444146
3,Adré,13.47,22.20,27.67,40,0,0.99,TD,1602444191
4,Ahipara,-35.17,173.17,15.40,92,100,4.27,NZ,1602444035
...,...,...,...,...,...,...,...,...,...
455,Zacualpan,21.25,-105.17,31.00,48,5,3.78,MX,1602443865
456,Zhigansk,66.77,123.37,-8.64,96,63,3.03,RU,1602443794
457,Zhukovo,55.03,36.74,11.00,71,100,3.00,RU,1602443868
458,Zomba,-15.39,35.32,23.00,88,75,4.10,MW,1602443857
459,Örnsköldsvik,63.29,18.72,7.00,100,41,2.60,SE,1602444123

In [13]:
df = df.dropna()
df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Acapulco de Juárez,16.86,-99.89,30.00,70,75,1.00,MX,1602443949
1,Acaraú,-2.89,-40.12,28.80,63,0,7.83,BR,1602443525
2,Adrar,20.50,-10.07,35.54,15,14,1.91,MR,1602444146
3,Adré,13.47,22.20,27.67,40,0,0.99,TD,1602444191
4,Ahipara,-35.17,173.17,15.40,92,100,4.27,NZ,1602444035
...,...,...,...,...,...,...,...,...,...
455,Zacualpan,21.25,-105.17,31.00,48,5,3.78,MX,1602443865
456,Zhigansk,66.77,123.37,-8.64,96,63,3.03,RU,1602443794
457,Zhukovo,55.03,36.74,11.00,71,100,3.00,RU,1602443868
458,Zomba,-15.39,35.32,23.00,88,75,4.10,MW,1602443857
459,Örnsköldsvik,63.29,18.72,7.00,100,41,2.60,SE,1602444123

In [20]:
locations = df[["Lat", "Lng"]]

# Fill NaN values and convert to float
humidty = df["Cloudiness"]
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidty, 
                                 dissipating=False, max_intensity=100,
                                 point_radius=4)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
perfect_weather = df.copy()

In [25]:
perfect_weather.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 457 entries, 0 to 459
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City        457 non-null    object
 1   Lat         457 non-null    float64
 2   Lng         457 non-null    float64
 3   Max Temp    457 non-null    float64
 4   Humidity    457 non-null    int64
 5   Cloudiness  457 non-null    int64
 6   Wind Speed  457 non-null    float64
 7   Country     457 non-null    object
 8   Date        457 non-null    int64
dtypes: float64(4), int64(3), object(2)
memory usage: 35.7+ KB

In [26]:
#80 max Faherneit is 27 Celcius and 70 is 21 Celcius
perfect_weather.loc[(perfect_weather['Max Temp']>21) & (perfect_weather['Max Temp'] <27) & ()]

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
14,Anloga,5.79,0.90,26.00,88,20,2.60,GH,1602444094
17,Arraial do Cabo,-22.97,-42.03,23.00,46,75,3.60,BR,1602444212
21,Atuona,-9.80,-139.03,25.65,74,9,10.11,PF,1602443894
22,Auki,-8.77,160.70,25.56,87,86,2.17,SB,1602444058
23,Avarua,-21.21,-159.78,23.00,94,41,1.00,CK,1602443616
...,...,...,...,...,...,...,...,...,...
439,Winslow,35.02,-110.70,26.00,16,1,9.30,US,1602443708
442,Yaan,7.38,8.57,25.00,85,39,2.03,NG,1602443776
445,Yenagoa,4.92,6.26,24.48,91,82,1.37,NG,1602443660
454,Yārāda,17.65,83.27,25.00,100,90,2.60,IN,1602444214
458,Zomba,-15.39,35.32,23.00,88,75,4.10,MW,1602443857