In [13]:
import gmaps
import pandas as pd
import os
import requests
# Google developer API key
gkey = os.environ.get("GOOGLE_API_KEY")

# Configure gmaps
gmaps.configure(api_key=gkey)
df = pd.read_csv('../output_data/weather.csv')

df.head(15)

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Abbeville,50.10,1.83,48.99,99,100,3.74,FR,1603066137
1,Abu Dhabi,24.47,54.37,75.20,41,0,2.24,AE,1603066006
2,Abu Samrah,35.30,37.18,59.68,64,44,3.80,SY,1603066021
3,Acapulco de Juárez,16.86,-99.89,86.00,79,75,8.05,MX,1603066032
4,Acarí,-15.43,-74.62,63.37,68,27,4.61,PE,1603066141
5,Actopan,20.27,-98.93,64.33,73,49,6.33,MX,1603066129
6,Adamantas,36.73,24.43,68.00,72,95,9.17,GR,1603066128
7,Adrar,20.50,-10.07,85.64,22,4,8.28,MR,1603066034
8,Afuá,-0.16,-50.39,79.79,77,60,9.57,BR,1603065979
9,Agua Verde,22.90,-106.05,89.60,70,5,9.17,MX,1603066020
10,Ahipara,-35.17,173.17,65.32,70,11,13.31,NZ,1603066110
11,Airai,-8.93,125.41,74.79,37,30,2.98,TL,1603066050
12,Aklavik,68.22,-135.01,19.40,62,20,4.94,CA,1603066112
13,Akonolinga,3.77,12.25,67.77,98,100,2.84,CM,1603066061
14,Albany,42.60,-73.97,55.99,60,99,7.87,US,1603065986

In [19]:
#Dropping any null values
df = df.dropna()
df.head(15)

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Abbeville,50.10,1.83,48.99,99,100,3.74,FR,1603066137
1,Abu Dhabi,24.47,54.37,75.20,41,0,2.24,AE,1603066006
2,Abu Samrah,35.30,37.18,59.68,64,44,3.80,SY,1603066021
3,Acapulco de Juárez,16.86,-99.89,86.00,79,75,8.05,MX,1603066032
4,Acarí,-15.43,-74.62,63.37,68,27,4.61,PE,1603066141
5,Actopan,20.27,-98.93,64.33,73,49,6.33,MX,1603066129
6,Adamantas,36.73,24.43,68.00,72,95,9.17,GR,1603066128
7,Adrar,20.50,-10.07,85.64,22,4,8.28,MR,1603066034
8,Afuá,-0.16,-50.39,79.79,77,60,9.57,BR,1603065979
9,Agua Verde,22.90,-106.05,89.60,70,5,9.17,MX,1603066020
10,Ahipara,-35.17,173.17,65.32,70,11,13.31,NZ,1603066110
11,Airai,-8.93,125.41,74.79,37,30,2.98,TL,1603066050
12,Aklavik,68.22,-135.01,19.40,62,20,4.94,CA,1603066112
13,Akonolinga,3.77,12.25,67.77,98,100,2.84,CM,1603066061
14,Albany,42.60,-73.97,55.99,60,99,7.87,US,1603065986

In [67]:
locations = df[["Lat", "Lng"]]

# Fill NaN values and convert to float
humidty = df["Cloudiness"]

#zooming the image
fig = gmaps.figure(center=(0, 0),zoom_level=2)

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidty, 
                                 dissipating=False, max_intensity=100,
                                 point_radius=3)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
#creating a copy
perfect_weather = df.copy()

In [23]:
#checking the info 
perfect_weather.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 580 entries, 0 to 585
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City        580 non-null    object
 1   Lat         580 non-null    float64
 2   Lng         580 non-null    float64
 3   Max Temp    580 non-null    float64
 4   Humidity    580 non-null    int64
 5   Cloudiness  580 non-null    int64
 6   Wind Speed  580 non-null    float64
 7   Country     580 non-null    object
 8   Date        580 non-null    int64
dtypes: float64(4), int64(3), object(2)
memory usage: 45.3+ KB

In [28]:
#Finding the perfect using filtering with conditions
perfect_weather = perfect_weather.loc[(perfect_weather['Max Temp']>=70) \
                    & (perfect_weather['Max Temp'] <80) \
                    & (perfect_weather['Wind Speed'] <10) \
                    & (perfect_weather['Cloudiness'] == 0)]

In [30]:
#Resetting the index of the perfect weather dataframe
perfect_weather.reset_index(drop=True,inplace=True)

In [31]:
#Displaying perfect weather cities
perfect_weather

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Abu Dhabi,24.47,54.37,75.20,41,0,2.24,AE,1603066006
1,Assiut,27.18,31.18,71.60,56,0,1.43,EG,1603066142
2,Bandarbeyla,9.49,50.81,78.13,82,0,6.89,SO,1603066132
3,Blackwater,-23.58,148.88,78.62,50,0,6.26,AU,1603066076
4,Eilat,29.56,34.95,77.00,69,0,6.93,IL,1603066006
5,Itaqui,-29.13,-56.55,75.36,60,0,9.04,BR,1603066100
6,Khanpur,28.65,70.66,71.44,22,0,3.74,PK,1603065985
7,Ondjiva,-17.07,15.73,72.59,21,0,6.11,AO,1603066008
8,Salalah,17.02,54.09,75.20,36,0,3.36,OM,1603066140
9,Sohag,26.56,31.69,73.40,40,0,4.70,EG,1603066099
10,Tucupita,9.06,-62.05,77.88,80,0,4.07,VE,1603066079
11,Tura,25.52,90.22,71.31,92,0,1.86,IN,1603066004

In [36]:
#Making a copy of perfect_weather df
hotel_df = perfect_weather.copy()

In [38]:
#finding hotels nearby to the dataframe witin 5000m radium
url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
target_search = "hotel"
radius = 5000
for index,rows in hotel_df.iterrows():

    params = {
        "location": f"{str(hotel_df.loc[index,'Lat'])},{str(hotel_df.loc[index,'Lng'])}",  # dataframe coords
        "keyword": target_search,
        "radius": radius,
        "key": gkey,
    }
    #retrieving json data
    hotels = requests.get(url, params).json()
    try:
        hotel_df.loc[index, 'Hotel Name'] = hotels["results"][0]["name"]
        print(index,hotels["results"][0]["name"])
        
    except:
        print("Not found")

0 Royal M Hotel & Resort Abu Dhabi
1 Florence Hotel Assiut
2 Super secret pirate cove
3 Blackwater Central Motel
4 Al Manara, a Luxury Collection Hotel, Saraya Aqaba
5 Hotel Linck
6 Shakir Hotel & Bar BQ
7 Villa Okapale
8 Grand flora hotel salalah
9 Nile Story Hotel
10 Hotel Residencial
11 Hotel Polo Orchid

In [56]:
#Displaying the hotel names in the cities
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
0,Abu Dhabi,24.47,54.37,75.20,41,0,2.24,AE,1603066006,Royal M Hotel & Resort Abu Dhabi
1,Assiut,27.18,31.18,71.60,56,0,1.43,EG,1603066142,Florence Hotel Assiut
2,Bandarbeyla,9.49,50.81,78.13,82,0,6.89,SO,1603066132,Super secret pirate cove
3,Blackwater,-23.58,148.88,78.62,50,0,6.26,AU,1603066076,Blackwater Central Motel
4,Eilat,29.56,34.95,77.00,69,0,6.93,IL,1603066006,"Al Manara, a Luxury Collection Hotel, Saraya A..."
5,Itaqui,-29.13,-56.55,75.36,60,0,9.04,BR,1603066100,Hotel Linck
6,Khanpur,28.65,70.66,71.44,22,0,3.74,PK,1603065985,Shakir Hotel & Bar BQ
7,Ondjiva,-17.07,15.73,72.59,21,0,6.11,AO,1603066008,Villa Okapale
8,Salalah,17.02,54.09,75.20,36,0,3.36,OM,1603066140,Grand flora hotel salalah
9,Sohag,26.56,31.69,73.40,40,0,4.70,EG,1603066099,Nile Story Hotel
10,Tucupita,9.06,-62.05,77.88,80,0,4.07,VE,1603066079,Hotel Residencial
11,Tura,25.52,90.22,71.31,92,0,1.86,IN,1603066004,Hotel Polo Orchid

In [53]:
# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [55]:
figure_layout = {
    'width': '800px',
    'height': '500px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
fig = gmaps.figure(layout=figure_layout)
# Assign the marker layer to a variable
markers = gmaps.marker_layer(locations,info_box_content=hotel_info)
# Add the layer to the map
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(border='1px solid black', height='500px', margin='0 auto 0 auto', padding='1px', wi…